<html>
	<head>
		<title>{{ html_title | default ('ABC Config Mgt. Demo') }}</title>
	</head>
	<body>
	
		<h1>{{ html_title | default ('ABC Config Mgt. Demo') }}</h1>
		
		<h3>This is the servers IP address:</h3>
		<div>{{ ansible_hostname }}</div>
		
		<h3>This is the sites URL</h3>
		<div id="site_url">https://{{ ansible_hostname }}</div>
	
	</body>
	
</html>