driftfile /var/lib/ntp/drift

restrict 127.0.0.1
restrict -6 ::1

server {{ ntpserver }}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

{% if ansible_virtualization_role == 'guest' %}
tinker panic 0
{% endif %}